@using QLSP.ViewModel
@model ProductViewModel
<h1>Danh sách Sản phẩm</h1>

<form>
    <div class="mb-3">
        <label class="form-label">Danh mục</label>
        <select id="category" class="form-control">
            <option value="0">Tất cả</option>
            @if (Model.Categories != null)
            {
                foreach(var cat in Model.Categories)
                {
                    <option value="@cat.Id">@cat.Name</option>
                }
            }
        </select>
    </div>
    <div class="d-flex g-3">
        <div class="flex-grow-1 me-3">
            <input onkeypress="onEnterSearch(event)" type="text" class="form-control" id="keyWord" name="keyWord" placeholder="Nhập từ cần tìm">
        </div>
        <div class="">
            <button onclick="onSearch()" type="button" class="btn btn-info mb-3"><i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm</button>
        </div>
    </div>
</form>

<div class="d-flex justify-content-end mb-3">
    @*<a asp-action="Create" asp-controller="Category" class="btn btn-success me-1"><i class="fa-solid fa-plus"></i> Thêm</a>*@
    <button class="btn btn-primary me-1"><i class="fa fa-file-excel" aria-hidden="true"></i> Import từ Excel</button>
    <button data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-success"><i class="fa-solid fa-plus"></i> Thêm</button>
</div>

<div id="product">
    <partial name="_List" model="@Model" />
</div>

<!-- Modal Add -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <partial name="_Create" model="@Model" />
    </div>
</div>


<!-- Modal Update -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="contentViewUpdate" class="modal-dialog">
        
    </div>
</div>



<div id="toast" class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Thông báo</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="toastMessage" class="toast-body">
            Nội dung thông báo
        </div>
    </div>
</div>
