@using Product_Management.ViewModel
@model CategoryViewModel

<div class="modal fade" id="updateModal" tabindex="-1">
    <div class="modal-dialog">
        <form asp-action="Update" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Cập nhật danh mục</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Tên danh mục</label>
                        <input type="text" class="form-control" id="updateCategoryName" value="@Model.Response?.Name" asp-for="Request.Name">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="updateCategoryId" value="@Model.Response?.Id" asp-for="Request.Id" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Đồng ý</button>
                </div>
            </div>
        </form>
    </div>
</div>