@using QLSP.Controllers
@model CategoryViewModel
<form asp-action="Delete" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa danh mục</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Bạn có chắc là muốn xóa đối tượng này hay không?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bỏ qua</button>
            <button type="submit" class="btn btn-primary">Đồng ý</button>
        </div>
    </div>
</form>